:root {
    /* --input-c: rgb(26, 27, 38); */
    --input-c: rgb(17, 17, 27);
    --color: rgb(137, 180, 250);
    --div: rgb(30, 30, 46);
    --btn: rgb(36, 39, 58);
    --btn-color: rgb(24, 24, 37);
}

body {
    background: var(--btn-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div {
    background-color: var(--div);
    backdrop-filter: blur(100px);
    padding: 30px 50px ;
    display: block;
    border-radius: 10px;
}

h1 {
    color: var(--color);
    font-family: "Varela Round";
    font-weight: bolder;
    text-align: center;
}

hr {
    border: 1px solid var(--color);
}

input {
    background-color:var(--input-c);
    color: var(--color);
    border: none;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    outline: none;
}

input::placeholder {
    color: var(--color);
}

button {
    background-color: transparent;
    padding: 10px;
    border: none;
    border-radius: 25px;
    color: var(--color);
    font-weight: bolder;
    outline: 2px solid var(--color);
    margin-left: 2%; 
    width: 95%;
    transition: all 0.11s ease-in-out;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--input-c);
    color: var(--color);
    outline: none;
}

#last {
    position: fixed;
    right: 20;
    bottom: 20;
    cursor: pointer;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(5px);
    z-index: -9;
}